*fasta
*fastq
coverage
*~
*yaml
datasets
*csv
*protocol
*log
*keep
*kh
fastqc_output
*spades
trimmed_reads
single_corrected_reads
quality_check
corrected_reads
*raw_data*
assembly_stats
soap_output
sga_output
idba_output
khmered_reads
soapdt.config
bowtie_index
expression_output
rbusearch.rb
annotation_summary
combined_assembly
