*fasta
*fastq
coverage
*~
*yaml
datasets
*csv
*protocol
*log
*keep
*kh
fastqc_output
*spades
trimmed_reads
single_corrected_reads
quality_check_output
corrected_reads
raw_data
assembly_stats
khmered_reads
soapdt.config
bowtie_index
expression_output